<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MeineRezepte.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>02CA8A121B94AE5E00F8900B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02CA8A291B94AE5E00F8900B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02CA8A341B94AE5E00F8900B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
